version: "2.2"
services:
  neo4j:
    image: neo4j:4.3.2-community
    container_name: neo4j
    ports:
      - "7474:7474" # Database port
      - "7687:7687" # web browser
    environment:
      - NEO4J_dbms_security_procedures_unrestricted=apoc.\\\*,apoc*
      - NEO4J_dbms_shell_enabled=true
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4JLABS_PLUGINS=["apoc"]
      - NEO4J_AUTH=neo4j/cabaneio2021
    entrypoint: [ "/bin/sh", "-c", "/neo4j/neo4js.sh" ]

  postgres:
    image: postgres:11
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=cabaneio2021
      - POSTGRES_DB=cabaneio

  mongo:
    image: mongo:4.4.8
    container_name: mongo
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongo
      - MONGO_INITDB_ROOT_PASSWORD=cabaneio2021
      - MONGO_INITDB_DATABASE=admin

  arango-db:
    image: arangodb:3.8.0
    container_name: arangodb
    ports:
      - 8529:8529
    environment:
      - ARANGO_ROOT_PASSWORD=cabaneio2021