spring:
  main:
    web-application-type: none

  # Neo4j
  neo4j:
    authentication:
      username: neo4j
      password: cabaneio2021

  # Postgres
  jpa:
    hibernate:
      ddl-auto: validate
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost:5432/cabaneio
    username: postgres
    password: cabaneio2021

  # Mongo
  data:
    mongodb:
      database: cabaneio
      username: mongo
      password: cabaneio2021

  # Arango
    arangodb:
      user: root
      password: cabaneio2021
